

.careers-notification-section{background: var(--deep-moss);}
.careers-notification-text .optional-text{color: var(--signal); margin: 0 0 13px 0;}
.careers-notification-text .optional-text::after{background-color: var(--signal);}
.careers-notification-title{gap: 45px; align-items: end;}
.careers-notification-icon{animation: floatingScale 1s infinite ease-in-out;}
.careers-notification-bg{width: 196px; height: 103px;}

.careers-notification-form .frm_forms .frm_form_fields .frm_form_field{margin-bottom: 8px;}
.careers-notification-form .frm_forms .frm_form_fields input{font-size: 0.875rem; line-height: 18px; padding: 15px 150px 15px 32px;}
.careers-notification-form .frm_forms .frm_form_fields .frm_form_field input::-webkit-input-placeholder{font-size: 0.875rem!important;}
.careers-notification-form .frm_forms .frm_form_fields .frm_form_field input:-moz-placeholder{font-size: 0.875rem!important;}
.careers-notification-form .frm_forms .frm_form_fields .frm_form_field input::-moz-placeholder{font-size: 0.875rem!important;}
.careers-notification-form .frm_forms .frm_form_fields .frm_form_field input:-ms-input-placeholder{font-size: 0.875rem!important;}
.careers-notification-form .frm_forms .frm_form_fields .frm_submit_flex.frm_form_field{position: absolute; top: 0; right: 0;}

.careers-notification-note{gap: 8px;}
.careers-notification-shield{width: 16px; height: 16px;}
.careers-notification-shield figure{display: flex;}
.careers-notification-shield img{object-fit: contain;}
.careers-notification-note span{width: fit-content; color: var(--white-75); font-size: 12px; line-height: 22px;}

@media screen and (min-width:1024px) {
    .careers-notification-main{padding: 64px 0; gap: 64px; align-items: end;}
    .careers-notification-lt{flex: 0 0 calc(100% - 499px); flex-grow: 1;}
    .careers-notification-text{flex: 0 0 calc(100% - 69px); max-width: 520px;}
    .careers-notification-text h2{margin-bottom: 0; color: var(--white); letter-spacing: -0.64px; line-height: 40px;}
    .careers-notification-icon{flex: 0 0 24px; }
    .careers-notification-bg{left: 412px; bottom: -11px; z-index: -1;}
    .careers-notification-rt{flex: 0 0 435px; flex-grow: 1;}
    
}

@media screen and (max-width: 1199px) and (min-width:1024px) {
    .careers-notification-bg{left: auto; right: 0;}
    
}