@import url("_default-banner-section.css");
@import url("_media-section.css");
@import url("_intro-short-section.css");
@import url("_featured-section.css");
@import url("_repeater-section.css");
@import url("_sec-wrap-section.css");
@import url("slick.css");
@import url("_request-section.css");
@import url("_micro-cta-module.css");
@import url("_block-module.css");
@import url("_single-cta-section.css");
@import url("_accordion-module.css");
@import url("_single-testimonial-module.css");
@import url("_media-download-section.css");
@import url("_cta-module.css");
@import url("more-news-section.css");

.media-post-inner{padding: 80px 0;}
.wave-def{position: absolute; width: 837px; z-index: -1; opacity: 0.4; height: 431px;}
.wave-one { top: -38px; left: -431.5px; }

.wave-two{top: 1700px; left: auto; right: -431px;}
.wave-three{top: 2830px; left: -431.5px;;}
.wave-four{bottom: -145px;left: auto; right: -431px;}

/* Default Thumb */
.default-thumb {margin-top:62px; margin-bottom: 65px; position: relative; clear: both; width: 100%;}
.default-thumb figure img{height: 525px;}
.default-thumb .fluid-width-wrapper {height: 100%;}
.default-thumb-two {margin-top:62px; margin-bottom: 65px; position: relative; clear: both; width: 100%; min-height: 361px; display: flex; flex-wrap: wrap;}
.default-thumb-two .fluid-width-wrapper {display: flex; flex-wrap: nowrap; gap:8px; align-items: stretch;}
.default-thumb-two .default-thumb-flex {flex: 1; height: 100%;}
.default-thumb-two figure img{height:361px;}

.media-post-lt hr{margin: 0 0 21px;}
.default-thumb + p{margin-bottom: 35px;}
.media-post-lt h3{margin-bottom: 20px;}

.media-post-inner .sidebar:only-child{position: relative; left: 0;}

@media only screen and (max-width: 1359px) and (min-width: 1024px) {
  .media-post-inner .media-post-lt{padding-right: 46px;}
  .media-post-inner  aside.sidebar{right: 32px;}
}
@media only screen and (max-width: 1120px) and (min-width: 768px) {
  .fluid-width-wrapper { padding: 0 30px; }

}
@media only screen and (max-width: 1023px) and (min-width: 200px) {
  .media-post-inner  aside.sidebar{position: static; width: 100%; flex: 0 0 100%; flex-direction: row;}
  .media-post-inner .fixed-social-icons{margin: 0; padding-top: 56px; display: flex; justify-content: flex-start;}
  .media-post-inner .sharethis-inline-share-buttons{flex-direction: row; gap: 12px; }
  .media-post-inner .sharethis-inline-share-buttons .st-btn{margin: 0 !important;}
}
  @media only screen and (max-width: 767px) and (min-width: 200px) {
    .media-post-inner{padding: 40px 0;}
    .media-post-inner .fixed-social-icons{padding-top: 32px; display: none;}
    
  .default-thumb { margin-top: 42px; margin-bottom: 45px;}
  .default-thumb-two { margin-top: 40px; margin-bottom: 40px;}
  .wave-one,.wave-two,.wave-three,.wave-four{display: none;}
 h4{margin-bottom: 30px;}
  

}
